
<footer class="pt-3">
	<div class="container mb-3">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 mb-3">
				<div class="text-center text-uppercase fw-semibold">Về chúng
					tôi</div>
				<div class="text-center text-color">
					<div>
						<a href="">Giới thiệu</a>
					</div>
					<div>
						<a href="">Trợ giúp</a>
					</div>
					<div>
						<a href="">Tuyển dụng</a>
					</div>
					<div>
						<a href="">Hướng dẫn mua hàng</a>
					</div>
					<div>
						<a href="">Liên hệ</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mb-3">
				<div class="text-center text-uppercase fw-semibold">Chính sách
					của chúng tôi</div>
				<div class="text-center text-color">
					<div>
						<a href="#">Chính sách bảo hành</a>
					</div>
					<div>
						<a href="#">Chính sách vận chuyển</a>
					</div>
					<div>
						<a href="#">Chính sách đổi trả</a>
					</div>
					<div>
						<a href="#">Chính sách bảo mật</a>
					</div>
					<div>
						<a href="#">Chính sách đại lý</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mb-3">
				<div class="text-center text-uppercase fw-semibold">Thanh toán</div>
				<div class="gallery-container">
					<div class="item">
						<a href=""><img
							src="https://hc01.chonweb.vn/halink-content/uploads/VMxwh1656902162.png"
							alt=""></a>
					</div>
					<div class="item">
						<a href=""><img
							src="https://hc01.chonweb.vn/halink-content/uploads/NAd5l1656902191.jpg"
							alt=""></a>
					</div>
					<div class="item">
						<a href=""><img
							src="https://hc01.chonweb.vn/halink-content/uploads/Ls7hH1656902197.png"
							alt=""></a>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mb-3">
				<div class="text-center text-uppercase fw-semibold">Mạng xã
					hội</div>
				<div class="text-center text-color">
					<div>
						<a href=""><i class="bi bi-facebook me-2"></i><span>Facebook</span></a>
					</div>
					<div>
						<a href=""><i class="bi bi-instagram me-2"></i><span>Instagram</span></a>
					</div>
					<div>
						<a href=""><i class="bi bi-youtube me-2"></i><span>Youtube</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center py-2 bg-secondary" style="color: white;">©
		Copyright 2014. Designed by SouthTeam - Bản quyền thiết kế web thuộc
		về SouthTeam</div>
</footer>
