<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/DuocMyPham.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/LienHe.css">
</head>


<body>

	<div class="container pt-4 pb-4">
		<div class="align-items-center">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item bre"><a href="#">Trang Chủ</a></li>
					<li class="breadcrumb-item active" aria-current="page">Liên Hệ</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-10 col-lg-8">
				<iframe class="w-100" height="300px"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.443661489921!2d106.62525347480609!3d10.853821089299668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1716098812576!5m2!1svi!2s"
					style="border: 0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-10 col-lg-4">
				<div class="ms-2 mt-3">
					<h3>Thông tin liên hệ</h3>
					<h6 class="mt-4" style="color: #61c472;">Nhóm 5</h6>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><strong>Địa chỉ:</strong> <i>Công
								Viên Phần Mềm Quang Trung.</i></li>
						<li class="list-group-item"><strong>Điện thoại:</strong> <i>
								<a class="detail-hover" href="tel:02473099966">0385193525</a>
						</i></li>
						<li class="list-group-item"><strong>Email: </strong> <i>
								<a class="detail-hover" href="mailto:mypham@ant.com.vn">nhom5@gmail.com</a>
						</i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-5 text-center">
		<h3 class="fs-4 ">
			<span> Liên hệ Nhóm 5 Java 5 </span>
		</h3>
		<h6 class="fw-light" style="font-size: 12px;">
			<span>BẠN HÃY ĐIỀN NỘI DUNG TIN NHẮN VÀO FORM DƯỚI ĐÂY VÀ GỬI
				CHO CHÚNG TÔI. CHÚNG TÔI SẼ TRẢ LỜI BẠN SAU KHI NHẬN ĐƯỢC.</span>
		</h6>
		<form action="">
			<div class="row justify-content-center">
				<div class="col-md-6 col-10 col-lg-5">
					<div class="input-group mb-3 w-75 only-media"
						style="margin-left: auto;">
						<input type="text" class="form-control" placeholder="Username"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
						<span class="input-group-text" id="basic-addon2">Do My
							Thuan</span>
					</div>
				</div>
				<div class="col-md-6 col-10 col-lg-5">
					<div class="input-group mb-3 w-75 only-media">
						<input type="text" class="form-control" placeholder="Email"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
						<span class="input-group-text" id="basic-addon2">@gmail.com</span>
					</div>
				</div>
				<div class="col-md-6 col-10 col-lg-5">
					<div class="input-group mb-3 w-75 only-media"
						style="margin-left: auto;">
						<input type="text" class="form-control" placeholder="Phone Number"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
						<span class="input-group-text" id="basic-addon2">0385193525</span>
					</div>
				</div>
				<div class="col-md-6 col-10 col-lg-5">
					<div class="input-group mb-3 w-75 only-media">
						<input type="text" class="form-control" placeholder="Address"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
					</div>
				</div>
				<div class="col-md-10 col-10 col-lg-10">
					<div class="mb-3 w-75 mx-auto only-media">
						<textarea style="height: 120px;" class="form-control"
							id="exampleFormControlTextarea1" placeholder="Information"
							rows="3"></textarea>
					</div>
				</div>
				<div class="col-md-10 col-10 col-lg-10">
					<div
						class="w-100 d-flex justify-content-center align-items-center mb-4">
						<a href="#" class="text-secondary slide-btn">Gửi Tin Nhắn</a>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script src="/js/js.js"></script>



</body>

</html>