* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit; /* Màu chữ sẽ được kế thừa từ phần tử cha */
	text-decoration: none;
}

body{
	font-family: 'Muli';
	font-weight: normal;
	background-color: #ffffff;
	color: #525252;

}
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto;
    }
    .table td, .table th {
        white-space: nowrap;
    }
}
.table thead th{
	background-color: rgb(184, 244, 174);

	font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}